<section>

<!-- <div class = "studentscontainer"> -->

<% @course_enrollments.each do |student| %>
	<div class = "student">
		<img src =
		<%= "***REMOVED***#{student['sis_user_id']}.JPG" %> >
		<p><%= "#{student['name']}" %></p>
	</div>
<% end %>

<!--</div> -->
</section>

