<h1> Course Photo Roster </h1>

<p><a href = "../courses">Course Listing</a></p>

<section>

<% @course_enrollments.each do |student| %>
	<div class = "student">
		<img src =
		<%= "#{@photos_path}#{student['sis_user_id']}.JPG" %> >
		<p><%= "#{student['name']}" %></p>
	</div>
<% end %>

</section>

